@page "/TkFonticon"
@using Telerik.Blazor
<PageTitle>TelerikÕº±ÍDemo</PageTitle>
<div>
    <h4>Size</h4>
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Size="@ThemeConstants.FontIcon.Size.ExtraSmall" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Size="@ThemeConstants.FontIcon.Size.Small" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Size="@ThemeConstants.FontIcon.Size.Medium" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Size="@ThemeConstants.FontIcon.Size.Large" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Size="@ThemeConstants.FontIcon.Size.ExtraLarge" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Size="@ThemeConstants.FontIcon.Size.ExtraExtraLarge" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Size="@ThemeConstants.FontIcon.Size.ExtraExtraExtraLarge" />

    <h4>Color</h4>
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Base" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Primary" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Secondary" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Tertiary" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Info" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Success" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Warning" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Error" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Dark" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Light" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Inverse" />

    <h4>Flip</h4>
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Flip="@IconFlip.None" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Flip="@IconFlip.Horizontal" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Flip="@IconFlip.Vertical" />
    <TelerikFontIcon Icon="@FontIcon.Paperclip" Flip="@IconFlip.Both" />
</div>